*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  cursive ;

}
body{
    margin: 0;
    place-items: center;
    height: 200vh;
    display: grid;
    background-image: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);

}
h1{
    background: -webkit-linear-gradient( #cc3399 0%, #cc6600 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
h2{
    font-family: ubuntu;
}
.slider{
    width: 500px;
    height: 300px;
    border-radius: 15px;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);
    position: relative;
    overflow: hidden;
}
.navigation {
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translate(-50%);
    z-index: 1;

}
.navigation label{
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 3px solid #fff;
    border-radius:50%;
  box-shadow:0 10px 20px rgba(0,0,0,0.7);
  cursor:pointer;
}
.navigation label:hover{
    background-color:rgba(17,17,17,0.4);
  }
.navigation label:not(:last-child){
    margin-right: 5px;

}
.slider input{
    display: none;
}
  
.slides-wraper{
    display: flex;
    width: 400%;
    height: 100%;
    transition:transform 0.3s;
}
.slides-wraper .slides{
    width: 25%;
}
.slides img{
    height:100%;
    width: 100%;
    object-fit:cover;

}
#slider1:checked ~ .slides-wraper{
    transform: translateX(0);
}
#slider2:checked ~ .slides-wraper{
    transform: translateX(-25%);
}
#slider3:checked ~ .slides-wraper{
    transform: translateX(-50%);
}
#slider4:checked ~ .slides-wraper{
    transform: translateX(-75%);
}





.wrapper{
    position: relative;
    height: 400px;
    width: 750px;
    overflow: hidden;
    background:#fff;
    border:7px solid #fff;
    box-shadow:0px 0px 15px rgba(0,0,0,0.15);

}

.wrapper .images{
    height:100%;
    width: 100%;
    display: flex;
}

.wrapper .images .img1{
    height: 100%;
    width: 100%;
  background: url("/normal.jpeg") no-repeat;

}
.wrapper .images .img2{
    position: absolute;
    height: 100%;
    width: 50%;
    background: url("/modified.jpeg") no-repeat;

}

.wrapper .slider12{
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 99;
  }
  .wrapper .slider12 input{
    width: 100%;
    outline: none;
    background: none;
    -webkit-appearance: none;
  }
  .slider12 input::-webkit-slider-thumb{
    height: 486px;
    width: 3px;
    background: none;
    -webkit-appearance: none;
    cursor: col-resize;
  }
  .slider12 .drag-line{
    width: 3px;
    height: 486px;
    position: absolute;
    left: 49.85%;
    pointer-events: none;
  }
  .slider12 .drag-line::before,
  .slider12 .drag-line::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 222px;
    background: #fff;
  }
  .slider12 .drag-line::before{
    top: 0;
  }
  .slider12 .drag-line::after{
    bottom: 0;
  }
  .slider12 .drag-line span{
    height: 42px;
    width: 42px;
    border: 3px solid #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
  }

                             /* inner triangle in slider */
  .slider12 .drag-line span::before,
  .slider12 .drag-line span::after{
    position: absolute;
    content: "";
    top: 50%;
    border: 10px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    transform: translate(-50%, -50%) rotate(45deg);
  }
  .slider12 .drag-line span::before{
    left: 40%;
    border-left-color: #fff;
  }
  .slider12 .drag-line span::after{
    left: 60%;
    border-top-color: #fff;
  }
  
